@import "NavBar";
@import "curr-media";
@import "library";
@import "Queries";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    font-family: 'Montserrat', sans-serif;
    transition: all 500ms ease;
}

.Cont{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
}

.sctions{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - 80px);
    transition: all ease 500ms;
}

.lib_display_anim{
    margin-left: 30%;
}