@import "NavBar";
@import "curr-media";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

.Cont{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
}

.sctions{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    & .media-cont {
        height: 100%;
    }
    & .library-cont{
        height: 100%;
    }
}